* {
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #202020;
    color: #ffffff;
}
input {
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
    padding: 13px;
    width: 120px;
    height: 20px;
}
.buttonStyle {
    width: 120px;
    height: 30px;
    margin-left: 10px;
    background-color: #000;
    border-radius: 10px;
    border-color: #fff;
    padding: 6px;
    white-space: nowrap;
}
.removeButton {
    width: 80px;
    height: 30px;
    margin-left: 10px;
    background-color: #000;
    border-radius: 10px;
    border-color: #fff;
    padding: 6px;
    white-space: nowrap;
}
.doneButton {
    width: 80px;
    height: 30px;
    margin-left: 10px;
    background-color: #000;
    border-radius: 10px;
    border-color: #fff;
    padding: 6px;
    white-space: nowrap;
}
.removeButton:hover {
    background-color: #D2042D;
}
h4 {
    margin-right: 10px;
    margin-left: 5px;
    font-size: 0.9em;
}
h1 {
    text-align: center;
}
ul {
    padding: 9px;
}
.container {
    display: flex;
}
p {
    color: #ffffff;
}
.doneTasks {
    text-decoration: line-through;
}
.sub_headers {
    margin-top: 1.2em;
}
.taskInfoStyleNormal {
    display: flex; 
    flex-direction: row; 
    justify-content: left;
}

